@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Flatory Sans', sans-serif;
    src: url('../fontes/flatory-sans-bold-condensed.ttf') format('truetype')
}
:root {
    --font-color: #f2cf1d;
    --color-02: #a61c35;
    --background-color: #9ec8ff;
    --color-03: #efe7e4;
    --color-04: #11468c;
    --gradient: linear-gradient(to right, #9e2a2e94,#e71d5079, #efe7e4c7);
    --main-font: 'Flatory Sans', sans-serif;
    --font-02: "Dr Sugiyama", cursive;
    --font-03: "Pompiere", sans-serif;
    --font-04: "Alegreya Sans", sans-serif;
} 
/*mobile*/
@media only screen and (max-width: 800px) {
    #tittle{
        font-size: 29.5px;
        padding-top: 8px;
    }
    #header-text{
        font-size: 14px;
    }
    #header-list{
        font-size: 12px;
        margin-top: 20px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .link{
        padding: 4px;
    }
    #primary-content{
        padding: 7px;
    }
    main{
        box-shadow: 5px 3px 8px 5px #11468c7e;
        margin: 0 auto;
        padding: 8px;
    }
    #main-title{
        font-size: 30px;
        margin-left: 12px;
    }
    .article-title{
        font-size: 20px;
        padding: 5px 8px;
        margin: 10px 8px;
    }
    .text{
        font-size: 13px;
        text-indent: 8px;
        margin: 10px 8px;
    }
    #list-title{
        text-align: center;
        font-weight: 900;
        font-size: 20px;
        padding: 12px;
    }
    #list-container{
        font-size: 13px;
        font-weight: 600;
        border-radius: 15px;
        text-align: center;
    }
    .article-list1{
        list-style: none;
        width: 300px;
        margin-left: 50px;
    }
    #article-list2{
        padding: 12px;
    }
    #list-text{
        margin-bottom: 8px;
    }
    #footer{
        padding: 8px;
    }
}
/*pc*/
@media only screen and (min-width: 801px) {
    #tittle{
        font-size: 39.4px;
        padding-top: 15px;
    }
    header{
        box-shadow: 0px 0px 8px 5px #11468c7e;
    }
    #header-text{
        font-size: 13.9px;
    }
    #header-list{
        font-size: 15px;
        margin-top: 45px;
        margin-left: 8px;
        padding-bottom: 18px;
    }
    .link{
        padding: 8px;
    }
    #primary-content{
        padding: 15px;
    }
    #footer{
        padding: 12px;
    }
    main{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 0px 8px 5px #11468c7e;
        margin: 0 auto;
        padding: 8px;
    }
    #main-title{
        font-size: 33px;
        margin-left: 12px;
    }
    .article-title{
        font-size: 20px;
        padding: 4px 12px;
        margin: 22px 0px;
    }
    .text{
        font-size: 13px;
        text-indent: 8px;
        margin: 19px 5px;
    }
    #list-title{
        font-weight: 900;
        font-size: 20px;
        padding: 12px;
    }
    #list-container{
        font-size: 13px;
        font-weight: 600;
        border-radius: 15px;
    }
    .article-list1{
        list-style: disc;
        width: 300px;
        margin-bottom: 19px;
    }
    #list{
        margin-left: 150px;
    }
    #article-list2{
        padding: 12px;
    }
    #list-text{
        text-indent: 0px;
        margin-bottom: 8px;
    }
}
*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: var(--color-04);
    color: var(--font-color);
    text-align: center;
}
#tittle{
    font-family: var(--font-02);
}
#header-text{
    font-family: var(--font-03);
}
#header-list{
    display: flex;
    list-style: none;
    font-family: var(--main-font);
    font-weight: bold;
}
.link{
    color: var(--font-color);
    text-decoration: none;
}
.link:hover{
    background-color: #f2cf1dcc;
    color: var(--color-03);
    border-radius: 50px;
    
}
body{
    background-color: var(--background-color);
}
main{
    min-width: 300px;
    max-width: 800px;
    font-family: var(--main-font);
    background-color: var(--color-03);
}
.image{
    width: 100%;
    display: flex;
    justify-content: center;
}
#img-container{
    display: flex;
}
#img-container img{
    width: 100%;
}
#video-container{
    background-color: var(--color-04);
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}
#video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#main-title{
    font-family: var(--font-04);
    font-weight: 900;
    color: var(--color-02);
}
.article-title{
    font-family: var(--font-04);
    color: var(--color-02);
    background: var(--gradient);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px #9e2a2e57;
}
.text{
    font-weight: bold;
}
.article-links{
    text-decoration: none;
    color: #09502e;
}
#list-title{
    font-family: var(--font-04);
    font-weight: 900;
    color: var(--font-color);
    background-color: var(--color-04);
}
#list-container{
    margin-top: 8px;
    width: 100%;
    overflow: hidden;
    font-weight: 600;
    background-color: var(--background-color);
    border-radius: 15px;
}
.article-list1{
    width: 300px;
    float: left;
}
#article-list2{
    width: 50%;
    display: inline-block;
    list-style: none;
}
#list-text{
    font-weight: 900;
}
#next-page{
    border: none;
    padding: 5px;
    margin: 10px 8px 5px 0px;
    border-radius: 5px;
}
.next-page-text{
    margin-left: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#botao-avancar{
    float: right;
}
#footer{
    margin-top: 20px;
    background-color: var(--color-04);
    font-family: var(--main-font);
    color: var(--font-color);
    text-align: center;
}
#footer-link{
    color: var(--font-color);
    font-weight: bold;
    text-decoration: none;
}